/node_modules

/uploads/usuario/**.jpg
/uploads/usuario/**.png
/uploads/usuario/**.gif

/uploads/hospital/**.jpg
/uploads/hospital/**.png
/uploads/hospital/**.gif

/uploads/medico/**.jpg
/uploads/medico/**.png
/uploads/medico/**.gif
